.loading-full-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-full-page {
  animation: rotate 0.8s ease-in-out infinite;
  object-fit: cover;
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(224, 224, 224);
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
