.logout-container {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

.dropdown {
  position: relative !important;
  display: inline-block !important;
}

.logout-button {
  font-size: 1rem;
}

.dropdown-button {
  padding: 5px 15px !important;
  margin: 25px 15px 0 0 !important;
  border: 0 !important;
  background-color: var(--primary-color) !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  color: white !important;
}
.dropdown-content button {
  background-color: var(--primary-color) !important;
}

.dropdown-content {
  text-align: left;
  position: absolute !important;
  background-color: var(--primary-color) !important;
  min-width: 160px !important;
  border-radius: 5px !important;
  font-weight: 500;

  z-index: 1 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.logout-button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: white;
  background-color: #000000;
  transition: color ease-in-out 0.3s;
}
.logout-button {
  padding: 5px 15px !important;
  margin: 15px 15px 0 0 !important;
  border: 0 !important;
  background-color: var(--primary-color) !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  color: white !important;
}
.dropdown-content a,
.logout-link,
.logout-button a {
  color: white !important;
  text-decoration: none !important;
  display: block !important;
  padding: 10px 15px !important;
}

.dropdown-content a:hover,
.logout-link:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
