.jokesListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  max-width: 500px;
}

.jokeContent {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.showJokeContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.actionsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.actionsButton button {
  color: rgb(19, 19, 19);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.actionsButton button:hover svg {
  color: rgb(56, 56, 56);
}

.actionsButton button svg {
  transition: color 0.4s ease-in-out;
  width: 16px;
  height: auto;
}

.updateContainer {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .jokesListContainer {
    max-width: 400px;
  }

  .jokeContent {
    max-width: 300px;
  }
  .actionContainer {
    width: 100% !important;
  }
}
