.admin-panel-container {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.admin-panel-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
  font-weight: 600;
}

.admin-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.admin-nav-item svg {
  margin-right: 10px;
  font-size: 2rem;
  color: #414141;
}

.admin-nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.admin-panel-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
