.user-actions-row {
  display: flex;
  flex-direction: column;
}

.actions-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.actions-buttons button:nth-child(2) {
  background-color: rgb(238, 37, 37);
}

.admin-view {
  display: flex;
}

.users-list-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}
.edit-form {
  max-height: 400px !important;
  margin-left: 20px;
}
